/*----------------------------------------------------------
    File Name  : _colors.scss
    Desc       : File ini merupakan styling untuk 
                 Color yang dapat dipanggil secara berulang

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Text Color
 * 2. Background Color
 *
 */

 @use '../abstracts/variables' as var;


 /*----------------------------------------------------------
1. Text Color Start 
------------------------------------------------------------*/ 

.text-primary-fusion {
    color: var.$text-primary-truveil;
}

.text-primary-darken-truveil {
    color: var.$text-primary-darken-truveil;
}

.text-secondary-truveil {
    color: var.$text-secondary-truveil;
}


/*----------------------------------------------------------
1. Text Color End
------------------------------------------------------------*/ 

 /*----------------------------------------------------------
2. Background Color Start
------------------------------------------------------------*/ 
.bg-primary-truveil {
    background-color: var.$bg-primary-truveil;
}

.bg-primary-darken-truveil {
    background-color: var.$bg-primary-darken-truveil;
}

.bg-primary-login-truveil {
    background-color: var.$bg-primary-login-truveil;
}

.bg-secondary-truveil {
    background-color: var.$bg-secondary-truveil;
}

/*----------------------------------------------------------
2. Background Color End
------------------------------------------------------------*/ 
