/*----------------------------------------------------------
    File Name  : _base.scss
    Desc       : File ini digunakan untuk konfigurasi CSS secara
                 Global

------------------------------------------------------------*/ 

@use '../abstracts/variables' as var;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var.$f-inter;
}


a {
  color: #000;
  text-decoration: none;
}

input {
  border: none;
  padding: 0px 24px;

  &:focus, 
  &:active {
    outline: none;
  }

  &::-webkit-outer-spin-button, 
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

textarea {
  border: none;

  &:focus, &:active{
    outline: none;
  }
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}



ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
} 

ul li {
  list-style: none;
}





