/*----------------------------------------------------------
    File Name  : typography.scss
    Desc       : File ini digunakan untuk mengatur Typography
                 suatu text

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Tags Typography
 * 2. Class Font
 *
 */

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;


/*----------------------------------------------------------
1. Tags Typography Start 
------------------------------------------------------------*/ 
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
}

h1 {
    font-size: 24px ;
    @include mix.lg{
        font-size: 48px;
    }
}

h2 {
    font-size: 20px;
    @include mix.lg{
        font-size: 40px;
    }
}

h3 {
    font-size: 26px;
    @include mix.lg{
        font-size: 35px;
    }
}

h4 {
    font-size: 20px;
    @include mix.lg{
        font-size: 24px;
    }
}

h5 {
    font-size: 20px;
    line-height: 160%;
    @include mix.lg{
        font-size: 22px;
    }
}

h6 {
    font-size: 18px;
    @include mix.lg{
        font-size: 20px;
    }
}

p {
    font-size: 15px;
    @include mix.lg{
        font-size: 18px;
    }
}

/*----------------------------------------------------------
1. Tags Typography End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
2. Class Font Start
------------------------------------------------------------*/ 
.f-inter {
    font-family: var.$f-inter;
}
.f-jakarta {
    font-family: var.$f-jakarta;
}
.f-montserrat {
    font-family: var.$f-montserrat;
}
.f-poppins {
    font-family: var.$f-poppins;
}
/*----------------------------------------------------------
2. Class Font End
------------------------------------------------------------*/ 
